<div class="flex-container align-items-center justify-content-center">
    <h1>Request access to dataset</h1>
    <div *ngIf="dataset !== undefined">
        <p-table [value]="dataset | datasetToSortedEntries">
            <ng-template pTemplate="body" let-datasetInfo>
                <tr>
                    <ng-container *ngIf="['name', 'accessibility'].includes(datasetInfo.key)">
                        <td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>{{ datasetInfo.value }}</td></ng-container
                    >
                    <ng-container *ngIf="datasetInfo.key === 'dua_file_name'"
                        ><td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>
                            <ng-container *ngIf="datasetInfo.value !== null">
                                <p-button (click)="downloadDua()">{{ datasetInfo.value }}</p-button>
                                <p-checkbox
                                    *ngIf="dataset.accessibility !== AccessibilityEnum.Private"
                                    label="I accept the DUA"
                                    [(ngModel)]="acceptDua"
                                    [binary]="true"
                                ></p-checkbox
                            ></ng-container>
                            <ng-container *ngIf="datasetInfo.value === null">No DUA</ng-container>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="datasetInfo.key === 'scc_file_name' && dataset.access_info.is_scc_relevant"
                        ><td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>
                            <ng-container *ngIf="datasetInfo.value !== null">
                                <p-button (click)="downloadScc()">{{ datasetInfo.value }}</p-button>
                                <ng-container *ngIf="dataset.institution_scc_accepted === true"
                                    >Your institution has accepted the SCC</ng-container
                                >
                                <ng-container *ngIf="dataset.institution_scc_accepted === false"
                                    >Your institution has rejected the SCC</ng-container
                                >
                                <ng-container *ngIf="dataset.institution_scc_accepted === undefined"
                                    >Institution has not yet accepted the SCC</ng-container
                                ></ng-container
                            >
                            <ng-container *ngIf="datasetInfo.value === null">No SCC</ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template> </p-table
        ><br />
        <div *ngIf="dataset.access_info.needs_to_log_in">
            <div>You need to log in</div>
            <p-button (click)="gotoLogin()">Login</p-button>
            <div>Don't have an account yet?</div>
            <p-button (click)="gotoRegister()">Register</p-button>
        </div>
        <div *ngIf="dataset.access_info.needs_to_confirm_email">
            You need to verify your email. Click the link in the welcome email you received.
        </div>
        <div *ngIf="dataset.access_info.needs_to_be_approved">Waiting for approval by admin</div>
        <div *ngIf="dataset.accessibility === AccessibilityEnum.Private">
            You do not have access to this private repository (if you think you should, contact admin)
        </div>
        <div *ngIf="dataset.accessibility !== AccessibilityEnum.Private">
            <div *ngIf="dataset.access_info.has_rejected_scc">Your institution has rejected the SCC</div>
            <div *ngIf="!dataset.access_info.is_accessible_in_country">
                This dataset is not available in your country
            </div>
            <div *ngIf="!acceptDua">You need to accept the DUA before requesting access</div>
            <div>
                <p-button
                    [disabled]="
                        dataset.institution_scc_accepted === false ||
                        !acceptDua ||
                        dataset.access_info.needs_to_log_in ||
                        dataset.access_info.needs_to_confirm_email ||
                        dataset.access_info.needs_to_be_approved ||
                        !dataset.access_info.is_accessible_in_country
                    "
                    (click)="requestAccess()"
                    >Request access</p-button
                >
            </div>
        </div>
    </div>
</div>
