<div class="flex-container align-items-center justify-content-center">
    <h1>Request access to dataset</h1>
    <div *ngIf="dataset !== undefined">
        <p-table [value]="dataset | datasetToSortedEntries">
            <ng-template pTemplate="body" let-datasetInfo>
                <tr>
                    <td>
                        <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                    </td>
                    <td *ngIf="datasetInfo.key === 'name'">{{ datasetInfo.value }}</td>
                    <td *ngIf="datasetInfo.key === 'dua_file_name'">
                        <p-button (click)="downloadDua()">{{ datasetInfo.value }}</p-button>
                    </td>
                    <td *ngIf="datasetInfo.key === 'scc_file_name'">
                        <p-button (click)="downloadScc()">{{ datasetInfo.value }}</p-button>
                        <ng-container *ngIf="dataset.institution_scc_accepted === true"
                            >Your institution has accepted the SCC</ng-container
                        >
                        <ng-container *ngIf="dataset.institution_scc_accepted === false"
                            >Your institution has rejected the SCC</ng-container
                        >
                        <ng-container *ngIf="dataset.institution_scc_accepted === undefined"
                            >Institution has not yet accepted the SCC</ng-container
                        >
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
