<div class="flex-container align-items-center justify-content-center">
    <h1>Request access to dataset</h1>
    <div *ngIf="dataset !== undefined">
        <p-table [value]="dataset | datasetToSortedEntries">
            <ng-template pTemplate="body" let-datasetInfo>
                <tr>
                    <ng-container *ngIf="['name', 'accessibility'].includes(datasetInfo.key)">
                        <td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>{{ datasetInfo.value }}</td>
                        <td></td>
                        <td></td
                    ></ng-container>
                    <ng-container *ngIf="datasetInfo.key === 'dua_file_name'">
                        <td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>
                            <ng-container *ngIf="datasetInfo.value !== null">
                                <p-button (click)="downloadDua()">{{ datasetInfo.value }}</p-button>
                            </ng-container>
                            <ng-container *ngIf="datasetInfo.value === null">No DUA</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="dataset.approval_type === ApprovalTypeEnum.Automated">
                                <p-checkbox
                                    *ngIf="
                                        datasetInfo.value !== null &&
                                        dataset.accessibility !== AccessibilityEnum.Private &&
                                        !userDataset?.access_requested_at
                                    "
                                    label="I accept the DUA"
                                    [(ngModel)]="acceptDua"
                                    [binary]="true"
                                ></p-checkbox>
                                <ng-container *ngIf="datasetInfo.value === null">No DUA</ng-container>
                            </ng-container>
                            <ng-container *ngIf="dataset.approval_type === ApprovalTypeEnum.Oversight">
                                <b>Signed DUA</b>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="dataset.approval_type === ApprovalTypeEnum.Oversight">
                                <input
                                    type="file"
                                    pInputText
                                    (change)="onSignedDuaFileSelected($event)"
                                    class="file-input"
                                />
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="datasetInfo.key === 'scc_file_name' && dataset.access_info.is_scc_relevant"
                        ><td>
                            <b>{{ fieldKeyToLabel[datasetInfo.key] }}</b>
                        </td>
                        <td>
                            <ng-container *ngIf="datasetInfo.value !== null">
                                <p-button (click)="downloadScc()">{{ datasetInfo.value }}</p-button>
                                <ng-container *ngIf="dataset.institution_scc_accepted === true"
                                    >Your institution has accepted the SCC</ng-container
                                >
                                <ng-container *ngIf="dataset.institution_scc_accepted === false"
                                    >Your institution has rejected the SCC</ng-container
                                >
                                <ng-container *ngIf="dataset.institution_scc_accepted === undefined"
                                    >Institution has not yet accepted the SCC</ng-container
                                ></ng-container
                            >
                            <ng-container *ngIf="datasetInfo.value === null">No SCC</ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template></p-table
        ><br /><ng-container *ngIf="userDataset?.access_requested_at"
            ><ng-container *ngIf="userDataset?.access_granted_by_admin_at"
                ><p>You have already been granted access to this dataset.</p>
                <p-button (click)="resendShareLink()">Re-send share-link</p-button></ng-container
            >
            <p *ngIf="!userDataset?.access_granted_by_admin_at">Waiting for admin to grant access.</p></ng-container
        >
        <ng-container *ngIf="!userDataset?.access_requested_at">
            <div *ngIf="dataset.access_info.needs_to_log_in">
                <div>You need to log in</div>
                <p-button (click)="gotoLogin()">Login</p-button>
                <div>Don't have an account yet?</div>
                <p-button (click)="gotoRegister()">Register</p-button>
            </div>
            <div *ngIf="dataset.access_info.needs_to_confirm_email">
                You need to verify your email. Click the link in the welcome email you received.
            </div>
            <div *ngIf="dataset.access_info.needs_to_be_approved">Waiting for approval by admin</div>
            <div *ngIf="dataset.accessibility === AccessibilityEnum.Private">
                You do not have access to this private repository (if you think you should, contact admin)
            </div>
            <div *ngIf="dataset.accessibility !== AccessibilityEnum.Private">
                <div *ngIf="dataset.access_info.has_rejected_scc">Your institution has rejected the SCC</div>
                <div *ngIf="!dataset.access_info.user_has_country">Your institution is not assigned to a country</div>
                <div *ngIf="!dataset.access_info.is_accessible_in_country">
                    This dataset is not available in your country
                </div>
                <div *ngIf="dataset.approval_type === ApprovalTypeEnum.Automated && !acceptDua">
                    You need to accept the DUA before requesting access
                </div>
                <div *ngIf="dataset.approval_type === ApprovalTypeEnum.Oversight && signedDuaFileName === null">
                    You need to upload the signed DUA before requesting access
                </div>
                <div>
                    <p-button
                        [disabled]="
                            dataset.institution_scc_accepted === false ||
                            (dataset.approval_type === ApprovalTypeEnum.Automated && !acceptDua) ||
                                (dataset.approval_type === ApprovalTypeEnum.Oversight && signedDuaFileName === null) ||
                            dataset.access_info.needs_to_log_in ||
                            dataset.access_info.needs_to_confirm_email ||
                            dataset.access_info.needs_to_be_approved ||
                            !dataset.access_info.user_has_country ||
                            !dataset.access_info.is_accessible_in_country
                        "
                        (click)="requestAccess()"
                        >Request access</p-button
                    >
                </div>
            </div>
        </ng-container>
    </div>
</div>
