@import '../../sass/colors.scss';

.flex-container {
    display: flex;
    height: 100%;
    min-height: 100%;
    margin-top: -70px;
    width: 100%;
    position: absolute;
    font-family: sans-serif;
}

.field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.field-label {
    flex: 0 0 100px;
    text-align: right;
}

.field-input {
    flex: 0 0 100px;
}

.p-error {
    flex: 0 0 200px;
    text-align: right;
}