<div class="flex-container align-items-center justify-content-center">
    <form *ngIf="!sent" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-5">
            <div class="text-3xl font-medium teal-dark mb-3">Reset password</div>
        </div>
        <div class="form-content">
            <div class="field">
                <label for="email" class="field-label">Email</label>
                <input
                    id="email"
                    #emailInput
                    type="text"
                    autocomplete="email"
                    pInputText
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                    class="field-input"
                />
                <div *ngIf="submitted && f['email'].errors" class="p-error mb-2 mt-2">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Not a valid email</div>
                </div>
            </div>
            <div class="field">
                <div class="field-label"></div>
                <p-button type="submit" label="Submit" icon="fal fa-arrow-circle-right"></p-button>
            </div>
        </div>
    </form>
    <div>
        <h1 *ngIf="sent">An email has been sent to you.</h1>
        <div *ngIf="sent">
            If you didn't receive an email, it might be because you entered the wrong email address or your account is
            not confirmed.
        </div>
    </div>
</div>
