<mat-sidenav-container *ngIf="userInfo !== undefined" autosize="true">
    <mat-sidenav mode="side" opened>
        <mat-toolbar>Data Manager</mat-toolbar>
        <mat-nav-list class="list-horizontal">
            <a mat-list-item routerLink="profile">Profile</a>
            <div mat-list-item>
                <mat-nav-list class="list-horizontal">
                    Admin
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/users">Users</a>
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/countries">Countries</a>
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/institutions">Institutions</a>
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/sccs">Sccs</a>
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/datasets">Datasets</a>
                    <a *ngIf="userInfo?.is_admin" mat-list-item routerLink="admin/history">History</a>
                </mat-nav-list>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <div class="main-content">
        <router-outlet> </router-outlet>
    </div>
</mat-sidenav-container>

<router-outlet *ngIf="userInfo === undefined"></router-outlet>
