@import '../../sass/colors.scss';

.flex-container {
    display: flex;
    height: 100vh;
    min-height: 100%;
    margin-top: -70px;
    width: 100%;
    font-family: sans-serif;
    flex-direction: column;
}

.field {
    display: flex;
    align-items: center;
    gap: 1rem;
}