<div *ngIf="userInfo === undefined" class="flex-container align-items-center justify-content-center">
    <p-button label="Register" icon="fal fa-arrow-circle-right" (onClick)="register()" class="field"></p-button>
    <p-button label="Login" icon="fal fa-arrow-circle-right" (onClick)="login()" class="field"></p-button>
</div>

<div *ngIf="userInfo !== undefined" class="flex-container align-items-center justify-content-center">
    <h1>Profile</h1>
    <div *ngIf="!userInfo.approved" class="p-error">Waiting for approval</div>
    <div *ngIf="userInfo.is_admin">Admin</div>
    <p-table [value]="userInfo | userInfoToSortedEntries">
        <ng-template pTemplate="body" let-info>
            <tr *ngIf="fieldKeyToLabel[info.key] !== undefined">
                <td><b>{{fieldKeyToLabel[info.key]}}</b></td>
                <td>{{info.value}}</td>
            </tr>
        </ng-template>
    </p-table><br />
    <p-button label="Logout" icon="fal fa-arrow-circle-right" (onClick)="logout()" class="field"></p-button>
</div>