<div *ngIf="nonApprovedUsers !== undefined" class="flex-container align-items-center justify-content-center">
    <h1>Users waiting for approval</h1>
    <p-table [value]="nonApprovedUsers">
        <ng-template pTemplate="header">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Created at</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td>{{user.storage_protection}}</td>
                <td>{{user.access_protection}}</td>
                <td>{{user.created_at | datetime}}</td>
                <td><p-button (onClick)="approve(user.id)">Approve</p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="approvedUsers !== undefined" class="flex-container align-items-center justify-content-center">
    <h1>Approved users</h1>
    <p-table [value]="approvedUsers">
        <ng-template pTemplate="header">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Approved at</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td>{{user.storage_protection}}</td>
                <td>{{user.access_protection}}</td>
                <td>{{user.approved_at | datetime}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>