<div *ngIf="users !== undefined" class="flex-container align-items-center justify-content-center">
    <h1>Users</h1>
    <p-table [value]="users">
        <ng-template pTemplate="header">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Admin</th>
                <th>Approved</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td><i *ngIf="user.is_admin" class="pi pi-check"></i></td>
                <td><i *ngIf="user.approved" class="pi pi-check"></i><p-button *ngIf="!user.approved" (onClick)="approve(user.id)">Approve</p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>