apispec==5.1.1
apispec-webframeworks==0.5.2
Flask==2.0.2
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
gunicorn==22.0.0
marshmallow-sqlalchemy==0.26.1
psycopg2-binary==2.9.2
PyJWT==2.3.0
python-dateutil==2.8.2
requests==2.26.0
swagger-ui-py==21.10.15
