POSTGRES_ADDRESS=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=postgres
POSTGRES_PORT=5432

CLIENT_SECRET=client_secret123

SMTP_ADDRESS=smtp_mock
SMTP_PORT=1025
SMTP_SENDER="Data Manager <data-manager@example.com>"

APPROVER_EMAIL=publicneuro@nru.dk

FRONTEND_URL=https://datacatalog.publicneuro.eu:8443

RECAPTCHA_V3_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

DELPHI_BACKEND_URL=https://demo-api.computerome.dk
DELPHI_FRONTEND_URL=https://demo.computerome.dk
