POSTGRES_ADDRESS=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=postgres
POSTGRES_PORT=5432

CLIENT_SECRET=client_secret123

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER="Public nEUro <publicneuro00test@gmail.com>"
SMTP_USERNAME="publicneuro00test"
SMTP_PASSWORD=""

APPROVER_EMAIL=publicneuro@nru.dk

APP_URL=https://datacatalog.publicneuro.eu:8443

RECAPTCHA_V3_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

DATASETS_DIR=/dpnru002/data/raw
ENCRYPTION_KEY=encryption_key123
