<h1>Institutions</h1>
<p-table [value]="institutions">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Country</th>
            <th *ngFor="let scc of sccs">Accept SCC: {{ scc.title }}</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-institution>
        <tr *ngIf="editingInstitution !== institution">
            <td>{{ institution.name }}</td>
            <td>{{ institution.contact }}</td>
            <td>{{ institution.country_name }}</td>
            <td *ngFor="let scc of sccs">
                <i *ngIf="institution.scc_acceptance[scc.id].accepted === true" class="fal fa-check"></i
                ><i *ngIf="institution.scc_acceptance[scc.id].accepted === false" class="fal fa-times"></i
                ><i *ngIf="institution.scc_acceptance[scc.id].accepted === null" class="fal fa-question"></i>
            </td>
            <td><p-button label="Edit" (onClick)="edit(institution)"></p-button></td>
        </tr>
        <tr *ngIf="editingInstitution !== undefined && editingInstitution === institution">
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" pInputText [(ngModel)]="editingInstitution.name" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput type="text" pInputText [(ngModel)]="editingInstitution.contact" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input
                        #countryInput
                        matInput
                        type="text"
                        pInputText
                        [matAutocomplete]="countryAuto"
                        (input)="onCountryNameChange(countryInput.value)"
                        [(ngModel)]="editingInstitution.country_name"
                    />
                    <mat-autocomplete #countryAuto="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountries" [value]="country.name">
                            {{ country.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </td>
            <td *ngFor="let scc of sccs">
                <mat-form-field appearance="outline">
                    <mat-label>Accept</mat-label>
                    <mat-select [(value)]="institution.scc_acceptance[scc.id].accepted">
                        <mat-option *ngFor="let option of [true, false]" [value]="option">
                            {{ option ? "yes" : "no" }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td><p-button label="Save" (onClick)="save(institution)"></p-button></td>
        </tr>
    </ng-template>
</p-table>
