<div class="flex-container align-items-center justify-content-center">
    <form *ngIf="!hasBeenReset" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-5">
            <div class="text-3xl font-medium teal-dark mb-3">Reset password</div>
        </div>
        <div class="form-content">
            <div class="field">
                <label for="password" class="field-label">New password</label>
                <input
                    id="password"
                    #passwordInput
                    type="password"
                    autocomplete="new-password"
                    pInputText
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                />
                <div>
                    <div>Password strength: {{ passwordStrength }}</div>
                    <div *ngIf="f['password'].hasError('tooWeak')">Your password is too weak</div>
                </div>
            </div>
            <div class="field">
                <label for="password" class="field-label">Repeat password</label>
                <input
                    id="repeatPassword"
                    type="password"
                    autocomplete="new-password"
                    pInputText
                    formControlName="repeatPassword"
                    [ngClass]="{ 'is-invalid': submitted && f['repeatPassword'].errors }"
                />
                <ng-container *ngIf="f['repeatPassword'].touched">
                    <ng-container *ngIf="f['repeatPassword'].hasError('repeatMismatch')">
                        <div>Passwords do not match.</div></ng-container
                    ></ng-container
                >
            </div>
            <div class="field">
                <div class="field-label"></div>
                <p-button type="submit" label="Submit" icon="fal fa-arrow-circle-right"></p-button>
            </div>
        </div>
    </form>
    <div>
        <h1 *ngIf="hasBeenReset">Password has been reset.</h1>
        <a *ngIf="hasBeenReset" href="login">Login</a>
    </div>
</div>
