<h1>Change history</h1>
<p-table
    [value]="history"
    [paginator]="true"
    [(first)]="first"
    [(rows)]="rows"
    [rowsPerPageOptions]="[10, 50, 100]"
    [lazy]="true"
    [totalRecords]="total"
    (onLazyLoad)="onLazyLoad($event)"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Timestamp</th>
            <th>Changed by</th>
            <th>ID</th>
            <th>Data</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
        <tr>
            <td>{{ event.timestamp | datetime }}</td>
            <td>{{ event.changedBy }}</td>
            <td>
                <pre>{{ event.objectId }}</pre>
            </td>
            <td>
                <pre>{{ event.objectData }}</pre>
            </td>
        </tr>
    </ng-template>
</p-table>
