<div class="flex-container align-items-center justify-content-center">
    <div class="description">
        <h1>User registration form to Public-nEUro</h1>
        <p>Public-nEUro is a repository for sharing brain imaging research data. Such data are considered personal and
            thus the EU general data protection rules apply. Upon registration, your personal information will be stored
            in our database on a basis of service for contract. Unless you register but never downloaded data, we cannot
            remove your personal information from this database, as it is mandatory that we can provide audits of who
            downloaded data. By registering, you accept those terms. Further information on your rights can be found in
            the information notice on our website.</p>
        <p>Proof of Identity: we will contact you for a video call checking your ID - you will have to show us either a
            passport, or ID card or driver license. A screen shot will be taken as a proof of verification.</p>
    </div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
            <div class="field" *ngFor="let field_info of field_infos | userInfoToSortedEntries">
                <label for="{{field_info.key}}" class="field-label">{{fieldKeyToLabel[field_info.key]}}<span
                        *ngIf="field_info.value.tooltip !== undefined" class="tooltip">
                        ?
                        <span class="tooltiptext">
                            <p><b>{{field_info.value.tooltip.bold}}</b></p>
                            <p><i>{{field_info.value.tooltip.italic}}</i></p>
                            <p>{{field_info.value.tooltip.normal}}</p>
                        </span>
                    </span></label>
                <input *ngIf="field_info.value.type !== 'textarea'" id="{{field_info.key}}"
                    type="{{field_info.value.type}}" autocomplete="field_info.value.autocomplete" pInputText
                    formControlName="{{field_info.key}}"
                    [ngClass]="{ 'is-invalid': submitted && f[field_info.key].errors }" class="field-input" />
                <textarea *ngIf="field_info.value.type === 'textarea'" id="{{field_info.key}}"
                    autocomplete="field_info.value.autocomplete" formControlName="{{field_info.key}}"
                    class="field-textarea" rows=5></textarea>
                <div *ngIf="submitted && f[field_info.key].errors" class="p-error mb-2 mt-2">
                    <div *ngIf="(f[field_info.key].errors ?? {})['required']">Required</div>
                    <div *ngIf="(f[field_info.key].errors ?? {})['email']">Not a valid email</div>
                </div>
            </div>
            <div class="field">
                <div class="field-label"></div>
                <re-captcha (resolved)="onCaptchaResolved($event)" siteKey="{{recaptchaSiteKey}}"></re-captcha>
            </div>
            <div class="field">
                <div class="field-label"></div>
                <p-button type="submit" [disabled]="captchaResponse === null" label="Sign up"
                    icon="fal fa-arrow-circle-right"></p-button>
            </div>
        </div>
    </form>
</div>