<div class="flex-container align-items-center justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-5">
            <div class="text-3xl font-medium teal-dark mb-3">Register</div>
        </div>
        <div class="form-content">
            <div class="field" *ngFor="let field_info of field_infos | userInfoToSortedEntries">
                <label for="{{field_info.key}}" class="field-label">{{fieldKeyToLabel[field_info.key]}}</label>
                <input id="{{field_info.key}}" type="{{field_info.value.type}}"
                    autocomplete="field_info.value.autocomplete" pInputText formControlName="{{field_info.key}}"
                    [ngClass]="{ 'is-invalid': submitted && f[field_info.key].errors }" class="field-input" />
                <div *ngIf="submitted && f[field_info.key].errors" class="p-error mb-2 mt-2">
                    <div *ngIf="(f[field_info.key].errors ?? {})['required']">Required</div>
                    <div *ngIf="(f[field_info.key].errors ?? {})['email']">Not a valid email</div>
                </div>
            </div>
            <div class="field">
                <div class="field-label"></div>
                <re-captcha (resolved)="onCaptchaResolved($event)"
                    siteKey="{{recaptchaSiteKey}}"></re-captcha>
            </div>
            <div class="field">
                <div class="field-label"></div>
                <p-button type="submit" [disabled]="captchaResponse === null" label="Sign up"
                    icon="fal fa-arrow-circle-right"></p-button>
            </div>
        </div>
    </form>
</div>