@import '../../sass/colors.scss';

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.description {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    flex: 1 0 100px;
}

.field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.field-label {
    flex: 0 0 100px;
    text-align: right;
}

.field-input {
    flex: 0 0 100px;
}

.p-error {
    flex: 0 0 200px;
    text-align: right;
}